<form class="create_post" action='create_post' method="post">
    <input type="title" name="title" placeholder="title..">
    <textarea name=”post” ></textarea>
    <input type="user_id" name="user_id" pl> # come back to this
    <input type="submit" name="" value="post">
</form>