
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= @title %></title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<h1 id="h"> <a href='/'>Rumblr</a> </h1>
  <div class="square">
    <div >
      <%# <a href="/">home</a> %>
      <a href="/signup">sign up</a>
      <a href="/signin">Sign in</a>
      <%# <a href="/signout">Sign out</a> %>
    </div>
  </div>
  <%= yield %>
</body>
</html>