<form action='post_form' method="post">
    <input type="title" name="title" placeholder="title..">
    <input type="text" name="content" placeholder="What's on your mind?">
    <input type="user_id" name="user_id" pl> # come back to this
</form>