
<form class="" action="/signin" method="post">
  <input type="email" name="email" placeholder="enter your email">
  <input type="password" name="password" value="">
  <input type="submit" name="" value="submit">
</form>