
<form class="" action="/signin" method="post">
  <input type="email" name="email" placeholder="Username..">
  <input type="password" name="password" placeholder="Pasword.." value="">
  <input type="submit" name="" value="submit">
</form>