
<form class="create_post" action='create_post' method="post">
    <input type="text" name="title" placeholder="title..">
    <textarea name=”content” rows='10'></textarea>
    <input type="user_id" name="user_id" pl> # come back to this
    <input type="submit" value="post">
</form>