
<form class="create_post" action='/articles/new' method="post">
    <input type="text" name="title" placeholder="title.." onchange='updateText()'>
    <textarea name='content' rows='10'></textarea>
    <input type="submit" value="post">
</form>