#h { 
    color: purple;
}
.square {
    background-color: black;
    width: 300px;
    border: 15px solid blue;
    padding: 60px;
    margin: 140px;
}
body {
   background-image: url("bg.jpg");
   background-color: #cccccc;
}