<h1>Signup</h1>
<form class=""  action="/signup" method="post" >
    <input type="text" name="user[first_name]" placeholder="First Name"><br>
    <input type="text" name="user[last_name]" placeholder="Last Name"><br>
    <input type="email" name="user[email]" placeholder="Email"><br>
    <input type="password" name="user[password]" placeholder="create a password"><br>
    <input type="submit" id="add-btn" value="Create Account">
   
</form>
 <%# <a href="/signin">Sign in</a> %>